@font-face {
    font-family: 'xilosa';
    src: url(fontes/xilosa.ttf);
}

@font-face {
    font-family: 'chapaza';
    src: url(fontes/Chapaza.ttf);
}

@font-face {
    font-family: 'butler';
    src: url(fontes/Butler_Regular.otf);
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 0,
  'opsz' 48
}


body{
    text-decoration: none;
    color: black;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;

    font-family: "chapaza";
    font-stretch: expanded;
}


/* Parte responsiva breakpoints */

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 600px) {
    .nav-bar .menu, .nav-bar .submenu{display: none;}

    /* Header */
    header{
        height: 50px;
    }
    .icones-header{
        width: 100%;
        height: 100%;
        padding: 0 1rem;
    }
    #logo{
        height: 35px;
        margin: 0 auto;
    }
    .nav-bar{
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        visibility: hidden;
    }


    /* Card foto banda */
    .card-foto-banda{
        width: 70%;
        height: 50%;
        flex-direction: column;
        margin-left: calc((100vw - 70% )/ 2);
        /* margin-right: calc((100vw - 45% )/ 2); */
        margin-top: calc((100vh - 50%) /2);
        /* margin-bottom: auto; */
    }
    #foto-banda{
        width: auto;
        height: 60%;
        margin: auto;
    }
    .card-foto-banda .card-text{
        height: 30%;
        width: 80%;
        margin:auto;
    }
    .card-foto-banda .card-text h3{
        font-size: 25px;
    }
    .card-foto-banda .card-text h5{
        font-size: 15px;
    }
    .redes-sociais-card-banda img{
        width: 30px;
    }
    #icone-close-card-banda{
        width: 35px;
        height: 35px;
        top: 5px;
        right: 5px;
    }
    



}

@media (min-width: 600px)  and (max-width: 800px){
   /* Desativando os botões e o menu mobile */
    #icone-close, #icone-menu,.menu-mobile{
        display: none;
    }

    /* Header */
    header{
        height: 60px;
    }
    .icones-header{
        width: 60%;
        height: 40px;
    }
    #logo{
        height: 30px;
        margin: 0;
    }    
    .menu li{
        width: 5% ;
    }
    #btn-abrir-submenu{
        height: 35px;
        /* right: -25px ; */
    }
    .submenu{
        padding: 0.5rem 0;
        top: 40px;
        left: 0;
        width: 150%;    
        visibility: hidden;
    }
    .submenu li{
        width: 90%;
        margin: 8px auto;
        /* height: 25px; */
    }
    .menu li, .submenu li{
        width: 90%;
        font-size: 16px;
    }



    /* Card foto banda */
    .card-foto-banda{
        width: 70%;
        height: 50%;
        flex-direction: row;
        margin-left: calc((100vw - 70% )/ 2);
        margin-top: calc((100vh - 50%)/2);
    }
    #foto-banda{
        width: 40%;
        height: auto;
        margin: auto;
    }
    .card-foto-banda .card-text{
        height: auto;
        width: 50%;
        margin:auto;

    }
    .card-foto-banda .card-text h3{
        font-size: 25px;
    }
    .card-foto-banda .card-text h5{
        font-size: 15px;
    }
    .redes-sociais-card-banda img{
        width: 30px;
    }
    #icone-close-card-banda{
        width: 35px;
        height: 35px;
        top: 5px;
        right: 5px;
    }

}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 800px) and (max-width: 1000px){ 
    #icone-close, #icone-menu, .menu-hamburguer{
        display: none;
    }

    /* Header */
    header{
        height: 60px;
    }
    .icones-header{
        width: 80%;
        height: 40px;
        margin: 0 auto;
    }
    #logo{
        height: 45px;
        margin: 0;
    }
    .menu li{
        width: calc(100% / 5);
    }
    #btn-abrir-submenu{
        height: 35px;
        right: -5px ;
    }
    .submenu{
        padding: 0.5rem 0;
        top: 45px;
        left: 0;
        width: 140%;    
        visibility: hidden;
    }
    .submenu li{
        width: 90%;
        margin: 8px auto;
        /* height: 25px; */
    }
    .menu li, .submenu li{
        width: 90%;
        font-size: 20px;
    }


    /* Card foto banda */
    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 1000px) and (max-width: 1200px) { 
    #icone-close, #icone-menu, .menu-mobile{
        display: none;
    }

    /* Header */
    header{
        height: 10vh;
    }
    .icones-header{
        width: 80%;
        height: 60px;
        margin: 0 auto;
    }
    #logo{
        padding: auto;
        box-sizing: border-box;
        height: 45px;
        /* margin: 0 5rem; */
        margin: 0;

    }
    .nav-bar{
        width: 75%;
        height: 100%;
    }
    .menu li{
        width: calc(100% / 5);
    }
    #btn-abrir-submenu{
        position: absolute;
        right: 5px ;
    }
    .menu .link-menu{font-size: 20px;}
    .submenu{
        padding: 0.5rem 0;
        top: 45px;
        left: 0px;
        width: 119%;    
        visibility: hidden;
    }
    .submenu li{
        width: 90%;
        margin: 1rem auto;
        /* height: 25px; */
    }
    .menu li, .submenu li{
        font-size: 20px;
    }
    .menu .link-menu:hover, .menu .link-submenu:hover{
        font-size: 25px;
    }
    

    /* Card foto banda */
}


/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #icone-close, #icone-menu, .menu-mobile{
        display: none;
    }

    /* Header */
    header{
        height: 10vh;
    }
    .icones-header{
        width: 75%;
        height: 60px;
    }
    #logo{
        height: 45px;
        margin: 0;
    }
    .nav-bar{
        width: 90%;
        height: 65px;
        position: absolute;
        right: 0;
        display: inline-flex;
        height: 100%;
        box-sizing: border-box;
        list-style: none;
        text-align: center;
        align-items: center;
    }
    #btn-abrir-submenu{
        position: absolute;
        height: 35px;
        right: 15px ;
    }
    .menu li{width: calc((100% / 4) - 3rem);}
    .menu .link-menu, .submenu{font-size: 25px;}
    .submenu{
        padding: 0.5rem 0;
        top: 50px;
        left: -15px;
        width: 150%;    
        visibility: hidden;
    }
    .submenu li{
        width: 100%;
        margin: 1rem auto;
        /* height: 25px; */
    }
    .menu li, .submenu li{
        font-size: 25px;
    }

    /* Card foto banda */
}


/* CARDE BANDA */

.card-blur{
    filter: blur(5px);
}

.card-foto-banda{
    /* width: 60%;
    height: 450px; */
    /* margin-left: calc((100vw - 60% )/ 2);
    margin-right: calc((100vw - 60% )/ 2);
    margin-top: calc((100vh - 450px )/ 2);
    margin-bottom: calc((100vh - 450px )/ 2); */
    text-align: center;
    align-items: center;
    display: none;
    z-index: 20;
    justify-items: center;
    border-radius: 10px;
    background-color: #FF7A00;
    position: fixed;
    padding: 1rem;
    box-sizing: border-box;
}

#icone-close-card-banda{
    /* width: 50px;
    height: 55px; */
    display: flex;
    background-color: transparent;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    /* top: -50px;
    right: -50px; */
    border: 0 solid transparent;
    transition: 0.1s;
}

#icone-close-card-banda:hover{
    transform: scale3d(1.3, 1.3, 1.3);
    cursor: pointer;
}

#foto-banda{
    /* width: auto; */
    /* height: 70%; */
    /* margin: auto 0;
    margin-left: calc(20% / 2);
    margin-right: calc(5% / 2); */
    border-radius: 50%;
    box-sizing: border-box;
    /* animation: bounceInLeft;
    animation-duration: 2s; */
}

.card-foto-banda .card-text{
    /* height: auto;
    width: 40%; */
    /* margin: auto 0; */
    /* margin-left: calc(5% / 2);
    margin-right: calc(20% / 2); */
    box-sizing: border-box;
    color: white;
    /* animation: fadeInUpBig;
    animation-duration: 1s; */
}

.card-foto-banda .card-text h3{
    /* font-size: 40px; */
    margin: 1rem;
    font-family: "xilosa";
}

.card-foto-banda .card-text h5{
    /* font-size: 24px; */
    margin: 1rem;
    font-family: "butler";
    font-stretch: expanded;
}

.redes-sociais-card-banda a{
    /* background:#faab61; */
    justify-content:space-evenly;
}

/* .redes-sociais-card-banda img{ */
    /* width: 40px; */
    /* height: auto; */
/* } */
  




/* HEADER */

header{
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 10;
    padding: 1rem;
    align-items: center;
    display: inline-flex;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0px 2px 5px gray;
    align-items: center;
}

.icones-header{
    display: flex;
    box-sizing: border-box;
    align-items: center;
    position: relative;
    color: black;
    margin: 0 auto;
    /* padding: 1rem; */
}



/* MENU MOBILE */

.nav-bar .menu-mobile{
    width: 100%;
    height: 100%;
    display: none;
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 15;
    /* padding: 1rem; */
    list-style: none;
    box-sizing: border-box;
    background-color: #0e0d0d;
    visibility: visible;
    overflow-y: scroll;
    animation: fadeInLeft;
    animation-duration: 0.3s;
}

#icone-menu,  #icone-close{
    background-color: transparent;
    border: 0px transparent;
    position: absolute;
}

#icone-menu{
    margin: auto 0;
    color: black;
}

#icone-close{
    position: absolute;
    top: 20px;
    left:17px;
    color: white;
}

.menu-mobile li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(50% / 6);
    padding: 1rem auto;
    list-style: none;
    font-size: 24px;
    font-family: "xilosa";
    box-sizing: border-box;
    display: flex;
    align-content: center;
    justify-content: center;
}

.menu-mobile hr{
    width: 90%;
    color: white;
}

.menu-mobile li a{
    color: white;
    text-decoration: none;
    margin-top: 1rem;
    box-sizing: border-box;
    display: inline-block;
    margin: auto 0;
}


/* MENU */

.nav-bar .menu{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 15;
    display: inline-flex;
    box-sizing: border-box;
    list-style: none;
    text-align: center;
    align-items:center;
}

.menu li{
    /* margin-left: 2rem; */
    position: relative;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#btn-abrir-submenu{
    background: none;
    border: none;
    height: 100%;
    /* height: 35px; */
}

#btn-abrir-submenu:hover, .link-menu:hover, .link-submenu:hover{
    color: #FF7A00;
    cursor: pointer;
    transition: all 5ms;
}

.menu .link-menu{
    color: black;
    font-family: "xilosa";
    text-decoration: none;
}

.link-menu:hover, #btn-abrir-menu:hover{
    color: #FF7A00;
}

.link-submenu:hover{
    color: white;
}

.submenu{
    position: absolute;
    border: 1px solid #0e0d0d;
    border-top: 0px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 2px 2px gray;
    border-radius: 0 0 10px 10px;
    background-color:#ff7b00dc;
}

.submenu, .link-submenu{
    color: black;
    font-family: "xilosa";
    text-decoration: none;
}





/* BOTÃO DESCER */
.downArrow{
    padding: 0 1rem;
    z-index: 5;
    box-sizing: border-box;
    font-size: 100px;
    display: block;
}

#inicio .downArrow{
    position: absolute;
    bottom: 0;
    left: 50%;
}

#eventos .downArrow, #galeria .downArrow, #musicas .downArrow, #sobre-nos .downArrow, #nossa-trajetoria .downArrow, #integrantes .downArrow{
    position: absolute;
    bottom: 0;
    right: 5%;
}

#btn-descer{
    background: none;
    border: none;
}

#btn-descer img{
    width: 35px;
    height: 35px;
    animation: shakeY infinite;
    animation-duration: 7s;
}

#btn-descer:hover{
    cursor: pointer;
}





/* MAIN */

main{
    width: 100vw;
    margin-top: 10vh;
    box-sizing: border-box;
    display: block;
    background-image: url(imagens/diversas/textura.jpg);
    background-repeat: repeat;
}

.card{
    width: 95%;
    color: black;
    text-align: center;
    box-sizing: border-box;
    height: 90%;
    margin: 5rem 2rem 2rem 2rem;
    box-sizing: border-box;
}

.card h3{
    font-family: 'xilosa';
    text-align: center;
    margin: 0 auto 0.3rem auto;
    padding-top: 1rem;
    font-size: 28px;
    box-sizing: border-box;
}


/* card abertura */
#inicio .card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.card-apresetacao-texto, .card-apresetacao-foto {
    margin: auto;
    text-align: center;
    padding: 1rem;
    box-sizing: border-box;
    
}
.card-apresetacao-texto{
    width: 55%;
}

.card-apresetacao-foto{
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-apresetacao-texto h1{
    margin: 0 auto 1rem auto;
    text-align: center;
    font-family: "xilosa";
    font-size: 75px;
    animation: fadeInLeft;
    animation-duration: 1.5s; 
}

.card-apresetacao-texto .texto-abertura{
    height: 50%;
    margin-top: 2rem;
}

.card-apresetacao-texto h2{
    font-family: 'xilosa';
    font-size: 30px;
    margin: 0;
}

.verso-apresentacao{
    width: 60%; 
    max-height: 200px; 
    display: inline-block;
    margin: 1rem;
    text-align: center;
}


/* Card foto principal */
.card-foto-principal{
    width: 40%;
    padding: 2rem;
    margin: 1rem;
    box-sizing: border-box;
}

#foto-abertura{
    max-width: 100%;
    width: 450px;
    height: auto;
}

section{
    width: 100%;
    height: 90vh;
    box-sizing: border-box;
    display: inline-block;
    color: black;
    position: relative;
    padding-top: 1rem;
    text-align: center;
}






/* CARROSSEL EVENTOS */
@mixin aspect-ratio($width, $height) {
    position: relative;
    
    &:before {
        display: block;
        content: "";
        width: 100vw;
        padding-top: ($height / $width) * 100%;
    }
    
    >img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100vw;
        height: 100vh;
    }
}



.container, .container1 {
    height: 100%;
    /* width: 75vw; */
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
}

/* .card-secundary .container{ */
/* .card .container{
    background: #F2CD5C;
} */

/* .card-secundary .container1{ */
/* .card .container1{
    background: #FFCD29;
} */


.carrossel {
    width: 90%;
    height: 90%;
    display: block;
    text-align: left;
    position: relative;
    margin: 0 auto 22px auto;
    box-sizing: border-box;
}

.carrossel input{
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;    
}

.carrossel input:nth-of-type(6):checked ~ .carrossel-photos .carrossel-photo:first-of-type { margin-left: -515%; }
.carrossel input:nth-of-type(5):checked ~ .carrossel-photos .carrossel-photo:first-of-type { margin-left: -402%; }
.carrossel input:nth-of-type(4):checked ~ .carrossel-photos .carrossel-photo:first-of-type { margin-left: -302%; }
.carrossel input:nth-of-type(3):checked ~ .carrossel-photos .carrossel-photo:first-of-type { margin-left: -202%; }
.carrossel input:nth-of-type(2):checked ~ .carrossel-photos .carrossel-photo:first-of-type { margin-left: -102%; }
.carrossel input:nth-of-type(1):checked ~ .carrossel-photos .carrossel-photo:first-of-type { margin-left: 0%; }

.carrossel input:nth-of-type(1):checked ~ .carrossel__thumbnails li:nth-of-type(1) { box-shadow: 0px 0px 0px 4px #BF9742; }
.carrossel input:nth-of-type(2):checked ~ .carrossel__thumbnails li:nth-of-type(2) { box-shadow: 0px 0px 0px 4px #BF9742; }
.carrossel input:nth-of-type(3):checked ~ .carrossel__thumbnails li:nth-of-type(3) { box-shadow: 0px 0px 0px 4px #BF9742; }
.carrossel input:nth-of-type(4):checked ~ .carrossel__thumbnails li:nth-of-type(4) { box-shadow: 0px 0px 0px 4px #BF9742; }
.carrossel input:nth-of-type(5):checked ~ .carrossel__thumbnails li:nth-of-type(5) { box-shadow: 0px 0px 0px 4px #BF9742; }
.carrossel input:nth-of-type(6):checked ~ .carrossel__thumbnails li:nth-of-type(6) { box-shadow: 0px 0px 0px 4px #BF9742; }

.carrossel-photos {
    position: relative;
    height: 68%;
    margin: 0 0 1rem 0;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    display: flex;
}

.carrossel-photo {
    position: relative;
    display: block;
    flex: 1 0 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 300ms ease-out;
    box-sizing: border-box;
    white-space: normal;
}

.carrossel-photo figure {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0 ;
    align-items: center;
    /* align-items: center; */
}

.carrossel-photo .foto-principal, .carrossel-photo .text{
    height: 100%;
}

.carrossel-photo figure img {
    width: 310px;
    height: 310px;
    margin: 0  auto;
    padding: 0;
    box-sizing: border-box;
}

.carrossel-photo img {
    display: block;
    flex: 1 1 auto;
    object-fit: cover;
}

.carrossel-photo figure div {
    @include aspect-ratio(3, 2);
    width: 60%;
    height: 0 auto;
    margin: 0 0 1vh 0
}


.carrossel-photo .text{
    width: 90%;
    margin: auto auto;
    display: flex;
    flex-direction: column;
}

.carrossel-photo figure .container-colummn {
    @include aspect-ratio(3, 2);
    width: 70%;
    height: 320px;
    justify-content: space-between;
    margin: 0;
}

.carrossel-photo h4{
    font-size: 20px;
    font-family: 'xilosa';
    text-align: center;
    padding: auto;
    margin: 1vh auto;
}

.carrossel-photo p{
    margin: 0 auto ;
    font-size: 16px;
    text-align: justify;
    text-indent: 2rem;
}

.carrossel-photo figcaption {
    font-size: 14px;
    margin: auto;
    width: 100%;
    box-sizing: border-box;
}

.carrossel-photo .credit {
    margin-top: 1vh;
    /* color: #FF7A00; */
    color: #BF9742;
    display: block;        
}

.carrossel-photo .scrollable {
    overflow-y: scroll;
}

.carrossel__thumbnails {
    width: 100%;
    height: 30%;
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.carrossel__thumbnails .carrossel-photos + .carrossel__thumbnails {
    margin-top: 1.25rem;
}

.carrossel__thumbnails li {        
    flex: 1 1 auto;
    max-width: calc((100% / 6) - 2.5vw);  
    height: 120px;
    margin: 0 12px;
    transition: all 300ms ease-in-out;
}

.carrossel__thumbnails label {
    display: block;
    @include aspect-ratio(1,1);
}

.carrossel__thumbnails label:hover,
.carrossel__thumbnails label:focus {
    cursor: pointer;
}

.carrossel__thumbnails label:hover,
.carrossel__thumbnails label:focus img {
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.25);
    transition: all 300ms ease-in-out;
}

.carrossel__thumbnails img {
    display: block;
    width: 120px;
    height: 120px;
    object-fit: cover;
}




/* SOBRE NÓS */

#mapa-ceara{
    height: 130px;
    width: 120px;
    margin: 1rem ;
    float: right;
}

.nossa-trajetoria, .sobre-nos{
    display: flex;
    flex-direction: row;
    text-align: justify;
    font-size: 16px;
    align-items:first baseline
}

.nossa-trajetoria .card-text1, .sobre-nos .card-text1{
    width: calc(100% / 2 );
    height: 100%;
    box-sizing: border-box;
    padding: 1rem;
    text-indent: 2rem;
}




/* GALERIA */

@keyframes display {
    0% {
        transform: translateX(200px);
        opacity: 0;
    }
    10% {
        transform: translateX(0);
        opacity: 1;
    }
    20% {
        transform: translateX(0);
        opacity: 1;
    }
    30% {
        transform: translateX(-200px);
        opacity: 0;
    }
    100% {
        transform: translateX(-200px);
        opacity: 0;
    }
}


.pic-ctn {
    position: relative;
    width: 100%;
    height: 90%;
    margin-top: 0.9rem;
    box-sizing: border-box;
    display: flexcenter;
}

.pic-ctn img {
position: absolute;
top: 0;
padding: auto;
width: 400px;
height: 400px;
left: calc(50% - (50% / 2) + 3rem);
opacity: 0;
animation: display 10s infinite;
}

.pic-ctn img:nth-child(2) {
animation-delay: 2s;
}

.pic-ctn img:nth-child(3) {
animation-delay: 4s;
}

.pic-ctn img:nth-child(4) {
animation-delay: 6s;
}

.pic-ctn img:nth-child(5) {
animation-delay: 8s;
}






/* INTEGRANTES */
.card .integrantes{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    /* background-color: #FFCD29; */
}

.integrantes  .integrante{
    width: 30%;
    height: 85%;
    margin: 1rem;
    box-sizing: border-box;
    text-align: justify;
    font-size: 16px;
}

.integrante figure{
    height: 100%;
    width: auto;
    font-size: clamp(0.5vw, 1rem, 2vw);
    margin: 0;
}

.integrante figcaption{
    margin: 0;
    padding:0.5vw;
    text-align: center;
    font-size: 18px;
    box-sizing: border-box;
    /* font-size: clamp(0.5rem, 1.5rem, 2vw); */
}

.foto-integrante{
    /* margin: 2vw; */
    padding: 1rem;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.foto-integrante img{
    height: 220px;
    width: 220px;
    margin: 0 auto;
    /* padding: 1vw; */
    display: flex;
    box-sizing: border-box;
    vertical-align: baseline;
}






/* Footer */

footer {
    background: #0e0d0d;
    padding: 0 0 30px 0;
    color: #fff;
    font-size: 14px;
    padding: 60px 0 30px 0;
}

.row{
    display: flex;
    flex-direction: row;
    width: 100%;
}
  

.sections-footer {
    width: calc(100% / 3);  
    min-width: 150px;
    padding: 0 2rem;
    box-sizing: border-box;
    margin: 0 auto 30px auto;
    box-sizing: border-box;
    /* flex: 0 0 auto; */
}

.container{
    max-width: 80%;
    box-sizing: border-box;
    margin: 0 auto 0 auto;
}
  

.footer-info {
    width: 90%;
    background: #191919;
    color: #fff;
    border-top: 4px solid #FF7A00;
    text-align: center;
    padding: 30px 20px;
    border-radius: 10px;

}
  
.footer-info h3 {
    font-family: "xilosa";
    font-size: 30px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
}
  
.footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
}
  

.redes-sociais-footer a, .redes-sociais-card-banda a{
    display: inline-flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 40px;
    transition: 0.3s;
}

.redes-sociais-footer a{
    background: #262626;
}



.redes-sociais-footer img{
    width: 20px;
    height: auto;
}


.redes-sociais-footer a:hover {
    background: #FF7A00;
    color: #fff;
    text-decoration: none;
}
  


.footer-links {
    min-width: 100px;
    width: calc(100% /3);  
    padding: 0 2rem;
    margin: 0 auto 30px auto;
    box-sizing: border-box;
}

.footer-links h4, .form-footer h4 {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    position: relative;
    padding-bottom: 12px;
    margin-top: 1rem;
    /* font-family: "xilosa"; */
    font-family: "butler";
    text-align: center;
}
  
.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.footer-links ul i {
    padding-right: 2px;
    color: #FF7A00;
    font-size: 18px;
    line-height: 1;
}
  
.footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}
  
.footer-links ul li:first-child {
    padding-top: 0;
}
  
.footer-links ul a {
    color: #fff;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}
  
.footer-links ul a:hover {
    color: #FF7A00;
}




.form-footer{
    min-width: 100px; 
    width: calc(100% / 3);  
    padding: 0 2rem;
    margin: 0 auto 30px auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.form-footer form{
    width: 90%;
    height: auto;
    margin: 0 0 1rem 0;
    box-sizing: border-box;
}

.form-footer form input{
    color: white;
    padding: 0.3rem;
    /* box-sizing: border-box; */
}

.form-footer form input, .form-footer form textarea{
    width: 100%;
    box-sizing: border-box;
    border: 0 none;
    background-color: #191919;
    border-radius: 10px;

}


.form-footer form textarea{
    height: 20%;
    min-height: 100px;
    padding: 0.5rem;
    margin: auto 0;
    text-align: justify;
    /* border: 0 none; */
    /* border-radius: 10px; */
    resize: none;
    color: white;
    /* background-color: #191919; */
}

#btn-enviar, .form-footer form input, .form-footer form textarea{
    margin-bottom: 1rem;
}

#btn-enviar{
    width: auto;
    padding: 0.3rem;
    margin: 0 auto;
    display: block;
    color: #fff;
    border: 0 solid white;
    background-color: black;
    transition: all 0.5s;
    animation-delay: 1s;
}

#btn-enviar:hover{
    background-color: #FF7A00;
}

  
footer .credits {
    padding-top: 5px;
    text-align: center;
    font-size: 13px;
    color: #fff;
}
  
footer .credits a {
    color: #FF7A00;
}
  
@media (max-width: 575px) {
    .footer-info {
        margin: -20px 0 30px 0;
    }
}