@font-face {
    font-family: 'xilosa';
    src: url(fontes/xilosa.ttf);
}
@font-face {
    font-family: 'chapaza';
    src: url(fontes/Chapaza.ttf);
}
@font-face {
    font-family: 'butler';
    src: url(fontes/Butler_Regular.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 0,
  'opsz' 48
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


body{
    text-decoration: none;
    color: black;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-family: "chapaza";
    font-stretch: expanded;
}


/* CARDE BANDA */
.card-blur{
    filter: blur(5px);
}

.card-foto-banda{
    width: 100%;
    display: none;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content:space-around;
    z-index: 20;
    background-color: #FF7A00;
    position: fixed;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
}

#icone-close-card-banda{
    width: 30px;
    height: 30px;
    right: 0px;
    top: -30px;
    text-align: center;
    display: flex;
    align-items: center;
    background-color: #FF7A00;
    justify-content: center;
    position: absolute;
    border-radius: 2px 2px 0  0;
    border: 0 solid transparent;
    transition: 0.1s;
}

#foto-banda{
    display: none;
}

.card-foto-banda .card-text{
    width: 90%;
    margin: 1rem 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    animation: fadeInUpBig;
    animation-duration: 1s;
}

.card-foto-banda .card-text h3{
    font-size: 20px;
    margin: 1rem;
    font-family: "xilosa";
}

.card-foto-banda .card-text h5{
    font-size: 16px;
    margin: 1rem;
    font-family: "butler";
    font-stretch: expanded;
}

.redes-sociais-card-banda{
    display: flex;
    width: 60%;
    height: 30px;
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.redes-sociais-card-banda a{
    margin:1rem;
}

.redes-sociais-card-banda img{
    width: 30px;
    height: auto;
}
  




/* HEADER */
header{
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem;
    position: fixed;
    z-index: 10;
    white-space: nowrap;
    align-items: center;
    display: inline-flex;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0px 2px 5px gray;
}

.icones-header{
    width: 80%;
    height: 90%;
    display: flex;
    align-items: center;
    position: relative;
    color: black;
    margin: 0 auto;
}

#logo{
    min-height: 20px;
    height: 30px;
    margin: 0 auto;
}

.menu{
    width: 90%;
    height: 100%;
    position: absolute;
    right: 0;
    height: 100%;
    display: none;
    box-sizing: border-box;
    list-style: none;
    text-align: center;
    align-items: center;
    justify-content: right;
}

.menu li{
    margin: 0;
    margin-left: 1.5rem;
}

.menu li a{
    color: black;
    font-family: "xilosa";
    font-size: 25px;
    text-decoration: none;
}

.menu li:hover .link-menu{
    color: #FF7A00;
    cursor: pointer;
    transition: all 5ms;
    font-size: 30px;
}

#btn-abrir-submenu{
    font-family: "xilosa";
    background: none;
    font-size: 25px;
    border: none;
    text-decoration: none;
    width: 40px;
    height: 40px;
}

#btn-abrir-submenu:hover, .link-submenu:hover{
    color: #FF7A00;
    cursor: pointer;
    transition: all 5ms;
}

#btn-abrir-menu:hover{
    color: #FF7A00;
}

.submenu{
    display: flex;
    visibility: hidden;
    position: absolute;
    top: 81px;
    right: -40px;
    height: 150%;
    border: 1px solid #0e0d0d;
    border-top: 0px;
    box-sizing: border-box;
    font-size: 20px;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 2px 5px gray;
    border-radius: 0 0 10px 10px;
    background-color:#ff7b00dc;
}

.submenu li, .submenu a{
    margin: 0.5rem;
    width: 90%;
    box-sizing: border-box;
}

.submenu li:hover .link-submenu{
    color: white;
}

.menu-mobile{
    width: 100vw;
    height: 100vh;
    display: none;
    color: white;
    align-items: center;
    justify-content: center;
    z-index: 15;
    position: fixed;
    top: 0;
    left: 0;
    list-style: none;
    box-sizing: border-box;
    background-color: #0e0d0d;
    visibility: visible;
    overflow-y: scroll;
    animation: fadeInLeft;
    animation-duration: 0.3s;
}

.menu-mobile ul{
    width: 90%;
    padding: 0;
    display: flex;
    margin: auto ;
    padding: 1rem 0;
    white-space: nowrap;
    flex-direction: column;
}

.menu-mobile ul li{
    margin: 0.5rem 0;    
}

#icone-menu,  #icone-close{
    background-color: transparent;
    border: 0px transparent;
    position: absolute;
    display: flex;
    top: 10px;
    left:20px;
}

#icone-menu{
    margin: auto 0;
    color: black;
}

#icone-close{
    color: white;
}

.menu-mobile li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(50% / 6);
    padding: 1rem auto;
    list-style: none;
    font-size: 24px;
    font-family: "xilosa";
    box-sizing: border-box;
    display: flex;
    align-content: center;
    justify-content: center;
}

.menu-mobile li a{
    color: white;
    text-decoration: none;
    margin-top: 1rem;
    box-sizing: border-box;
    display: inline-block;
    margin: auto 0;
}






/* BOTÃO DESCER */
.downArrow{
    padding: 0 1rem;
    z-index: 5;
    box-sizing: border-box;
    font-size: 100px;
    display: block;
}

#inicio .downArrow{
    display: none;
}

#eventos .downArrow, #galeria .downArrow, #musicas .downArrow, #sobre-nos .downArrow, #nossa-trajetoria .downArrow, #integrantes .downArrow{
    position: absolute;
    bottom: 0;
    right: 5%;
}

#btn-descer{
    background: none;
    border: none;
}

#btn-descer img{
    width: 35px;
    height: 35px;
    animation: shakeY infinite;
    animation-duration: 7s;
}

#btn-descer:hover{
    cursor: pointer;
}





/* MAIN */

main{
    width: 100vw;
    display: block;
    background-image: url(imagens/diversas/textura.jpg);
    background-repeat: repeat;
}

.card{
    /* width: 95%; */
    color: black;
    text-align: center;
    box-sizing: border-box;
    /* height: 90%; */
    margin: 5rem 2rem 2rem 2rem;
    box-sizing: border-box;
}


/* card abertura */
#inicio .card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card-apresetacao-texto, .card-apresetacao-foto {
    text-align: center;
    padding: 1rem;
    box-sizing: border-box;
}

.card-apresetacao-foto{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-apresetacao-texto h1{
    font-family: "xilosa";
    white-space: normal;
    font-size: clamp(0.5rem + 1vw, 2rem + 2vw, 3rem + 1vw);
    margin-top: 1rem;
}

.card-apresetacao-texto h2{
    font-family: 'xilosa';
    font-size: clamp(1rem, 1rem + 1vw, 1rem + 1.2vw);
}

.verso-apresentacao{
    display: none;
}

/* Card foto principal */
.card-foto-principal{
    margin: 1rem;
    box-sizing: border-box;
}

#foto-abertura{
    max-width: 100%;
    width: 450px;
}

section{
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
    color: black;
    position: relative;
    text-align: center;
}

.card h3{
    font-family: 'xilosa';
    text-align: center;
    /* margin: 0 auto 0.3rem auto; */
    /* padding-top: 1rem; */
    font-size: clamp(1rem, 1rem + 1vw, 1rem + 1.2vw);
    box-sizing: border-box;
}





/* CARROSSEL EVENTOS */

.container, .container1 {
    /* height: 100%; */
    /* width: 75vw; */
    /* width: 80%; */
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 2rem;
}


.carrossel-eventos {
    width: 100%;
    /* height: 90%; */
    display: block;
    /* text-align: left; */
    position: relative;
    overflow-x: hidden;
    /* margin: 0 auto 22px auto; */
    box-sizing: border-box;
}

.eventos{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 2rem 0;
    gap: 1rem;
    align-items:baseline;
    position: relative;
}


.evento{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* width: auto; */
    flex-shrink: 0;
    opacity: 0.6;
    position: relative;
    transition: all 400ms ease-in-out;

    background-color: #F5F3A9;
    border:2px solid #FF7A00;
    border-radius: 10px;
}

.evento img{
    /* width: 150px; */
    height: 150px;
    /* border: 2px solid #262626; */
    border-radius: 10px;
    margin: 0 auto;
    border: 3px solid #AB8119;
}

.evento-atual{
    opacity: 1;
    box-shadow: 3px 3px 5px gray;
}

.texto-evento{
    width: 90%;
    display: inline;
    text-align: justify;
    margin: 1rem;
    padding: 0.2rem;
    box-sizing: border-box;
    /* background-color: white; */
}

.texto-evento h4{
    font-family: "xilosa";
    font-size: clamp(0.9rem, 0.9rem + 0.6vw,  1.1rem + 0.5vw);
    white-space: pre-wrap;
    text-align: center;
    margin: 0.5rem 0;
}

.texto-evento .texto{
    font-size: clamp(0.8rem, 0.8rem + 0.5vw,  0.9rem + 0.3vw);
    margin: 0.5rem 0;
}

.evento figcaption{
    width: 100%;
    font-size: clamp(0.7rem, 0.7rem + 0.3vw,  0.7rem + 0.3vw );
    margin-top: 1rem;
    box-sizing: border-box; 
}

.seta-esquerda, .seta-direita{
    position: absolute;
    top: 50%;
    z-index: 5;
    width: 30px;
    height: 30px;
    max-width: 40px;
    /* color:white; */
    color:#0e0d0d;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 2px;
}

.seta-esquerda{
    left: 2rem;
    background: linear-gradient(to left, transparent 0%, #AB8119 150%);
}

.seta-direita{
    right: 2rem;
    background: linear-gradient(to right, transparent 0%, #AB8119 150%);
}





/* GALERIA */

@keyframes display {
    0% {
        transform: translateX(200px);
        opacity: 0;
    }
    10% {
        transform: translateX(0);
        opacity: 1;
    }
    20% {
        transform: translateX(0);
        opacity: 1;
    }
    30% {
        transform: translateX(-200px);
        opacity: 0;
    }
    100% {
        transform: translateX(-200px);
        opacity: 0;
    }
}


.pic-ctn {
    position: relative;
    width: 100%;
    height: 90%;
    margin-top: 0.9rem;
    box-sizing: border-box;
    display: flexcenter;
}

.pic-ctn img {
    position: absolute;
    top: 0;
    padding: auto;
    width: 150px;
    /* height: 100px; */
    /* left: calc(50% - (50% / 2) + 3rem); */
    left: calc(50% - (150px / 2));
    opacity: 0;
    animation: display 10s infinite;

}

.pic-ctn img:nth-child(2) {
animation-delay: 2s;
}

.pic-ctn img:nth-child(3) {
animation-delay: 4s;
}

.pic-ctn img:nth-child(4) {
animation-delay: 6s;
}

.pic-ctn img:nth-child(5) {
animation-delay: 8s;
}

.pic-ctn img:hover, .pic-ctn img:active{
    animation: none;
}



/* SOBRE NÓS */

#mapa-ceara{
    height: 130px;
    width: 120px;
    margin: 1rem ;
    float: right;
}

.nossa-trajetoria, .sobre-nos{
    display: flex;
    flex-direction: row;
    text-align: justify;
    font-size: 16px;
    align-items:first baseline
}

.nossa-trajetoria .card-text1, .sobre-nos .card-text1{
    /* width: calc(100% / 2 ); */
    width: 100%;
    /* height: 100%; */
    /* padding: 1rem; */
    margin-top: 1rem;
    box-sizing: border-box;
    text-indent: 2rem;
}





/* INTEGRANTES */
.card .integrantes{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
}

.integrantes  .integrante{
    width: 30%;
    height: 85%;
    margin: 1rem;
    box-sizing: border-box;
    text-align: justify;
    font-size: 16px;
}

.integrante figure{
    height: 100%;
    width: auto;
    font-size: clamp(0.5vw, 1rem, 2vw);
    margin: 0;
}

.integrante figcaption{
    margin: 0;
    padding:0.5vw;
    text-align: center;
    font-size: 18px;
    box-sizing: border-box;
}

.foto-integrante{
    /* margin: 2vw; */
    padding: 1rem;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.foto-integrante img{
    height: 220px;
    width: 220px;
    margin: 0 auto;
    display: flex;
    box-sizing: border-box;
    vertical-align: baseline;
}






/* Footer */


footer {
    background: #0e0d0d;
    padding: 0 0 30px 0;
    color: white;
    font-size: 14px;
    padding: 60px 0 30px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
  

.section-footer {
    padding: 0 2rem;
    margin: 0 auto 30px auto;
    box-sizing: border-box;
}

.container-footer{
    min-width: 70%;
    width: 90%;
    box-sizing: border-box;
    margin: 0 auto 0 auto;
}
  



.footer-info {
    background: #191919;
    color: white;
    border-top: 4px solid #FF7A00;
    text-align: center;
    padding: 30px 20px;
    border-radius: 10px;
}
  
.footer-info h3 {
    font-family: "xilosa";
    font-size: 30px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
}
  
.footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
}
  

.redes-sociais-footer a, .redes-sociais-card-banda a{
    display: inline-flex;
    color: white;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 40px;
    transition: 0.3s;
}

.redes-sociais-footer a{
    background: #262626;
}

.redes-sociais-footer img{
    width: 20px;
    height: auto;
}

.redes-sociais-footer a:hover {
    background: #FF7A00;
    color: white;
    text-decoration: none;
}
  


.footer-links {
    padding: 0 2rem;
    margin: 0 auto 30px auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: space-around;
}

.footer-links h4, .form-footer h4 {
    font-size: 20px;
    font-weight: 600;
    color: white;
    position: relative;
    text-align: center;
    font-family: "butler";
}
  
.footer-links ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}
  
.footer-links ul i {
    padding-right: 2px;
    color: #FF7A00;
    font-size: 18px;
    line-height: 1;
}
  
.footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
    text-align: center;
}
  
.footer-links ul li:first-child {
    padding-top: 0;
}
  
.footer-lfooter {
    background: #0e0d0d;
    padding: 0 0 30px 0;
    color: white;
    font-size: 14px;
    padding: 60px 0 30px 0;
}

.container-footer .row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
  

.sections-footer {
    min-width: 120px;
    width: calc(100% / 4);
    box-sizing: border-box;
    margin: 0 auto 30px auto;
    box-sizing: border-box;
    /* flex: 0 0 auto; */
}

.container-footer{
    max-width: 80%;
    box-sizing: border-box;
    margin: 0 auto 0 auto;
}
  

.footer-info {
    width: 100%;
    background: #191919;
    color: white;
    border-top: 4px solid #FF7A00;
    text-align: center;
    padding: 30px 20px;
    border-radius: 10px;
    box-sizing: border-box;
}
  
.footer-info h3 {
    font-family: "xilosa";
    font-size: 30px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    white-space: normal;
    font-weight: 700;
}
  
.footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
}
  

.redes-sociais-footer a, .redes-sociais-card-banda a{
    display: inline-flex;
    color: white;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 40px;
    transition: 0.3s;
}

.redes-sociais-footer a{
    background: #262626;
}



.redes-sociais-footer img{
    width: 20px;
    height: auto;
}


.redes-sociais-footer a:hover {
    background: #FF7A00;
    color: white;
    text-decoration: none;
}
  


.footer-links {
    min-width: 120px;
    width: calc(100% / 4);  
    padding: 0 2rem;
    margin: 0 auto 30px auto;
    box-sizing: border-box;
}

.footer-links h4, .form-footer h4 {
    font-size: 20px;
    font-weight: 600;
    color: white;
    position: relative;
    padding-bottom: 12px;
    margin-top: 1rem;
    white-space: nowrap;
    font-family: "butler";
    text-align: center;
}
  
.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.footer-links ul i {
    padding-right: 2px;
    color: #FF7A00;
    font-size: 18px;
    line-height: 1;
}
  
.footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}
  
.footer-links ul li:first-child {
    padding-top: 0;
}
  
.footer-links ul a {
    color: white;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}
  
.footer-links ul a:hover {
    color: #FF7A00;
}




.form-footer{
    min-width: 120px; 
    width: calc(100% / 4);  
    padding: 0 2rem;
    margin: 0 auto 30px auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.form-footer form{
    width: 90%;
    height: auto;
    margin: 0 0 1rem 0;
    box-sizing: border-box;
}

.form-footer form input{
    color: white;
    padding: 0.3rem;
    /* box-sizing: border-box; */
}

.form-footer form input, .form-footer form textarea{
    width: 100%;
    box-sizing: border-box;
    border: 0 none;
    background-color: #191919;
    border-radius: 10px;

}


.form-footer form textarea{
    height: 20%;
    min-height: 100px;
    padding: 0.5rem;
    margin: auto 0;
    text-align: justify;
    resize: none;
    color: white;
}

#btn-enviar, .form-footer form input, .form-footer form textarea{
    margin-bottom: 1rem;
}

#btn-enviar{
    width: auto;
    padding: 0.3rem;
    margin: 0 auto;
    display: block;
    color: white;
    border: 0 solid white;
    background-color: black;
    transition: all 0.5s;
    animation-delay: 1s;
}

#btn-enviar:hover{
    background-color: #FF7A00;
}

  
footer .credits {
    padding-top: 5px;
    text-align: center;
    font-size: 13px;
    color: white;
}
  
footer .credits a {
    color: #FF7A00;
}
  
.footer-links ul a {
    color: white;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}
  
.footer-links ul a:hover {
    color: #FF7A00;
}




.form-footer{
    padding: 0 2rem;
    margin: 0 auto 30px auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-footer form{
    width: 90%;
    min-width: 140px;
    margin: 0 0 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: stretch;
    box-sizing: border-box;
}

.form-footer form input{
    color: white;
    padding: 0.3rem;
}

.form-footer form input, .form-footer form textarea{
    width: 100%;
    box-sizing: border-box;
    border: none;
    background-color: #191919;
    border-radius: 10px;
    padding: 0.5rem;

}


.form-footer form textarea{
    height: 100px;
    margin: auto 0;
    text-align: justify;
    resize: none;
    color: white;
}

#btn-enviar, .form-footer form input, .form-footer form textarea{
    margin-bottom: 0.5rem;
}

#btn-enviar{
    width: auto;
    padding: 0.3rem;
    margin: 0 auto;
    display: block;
    color: white;
    border: 0 solid white;
    background-color: black;
    transition: all 0.5s;
    animation-delay: 1s;
}

#btn-enviar:hover{
    background-color: #FF7A00;
}

  
footer .credits {
    padding-top: 5px;
    text-align: center;
    font-size: 13px;
    color: white;
}
  
footer .credits a {
    color: #FF7A00;
}
  



/* Parte responsiva */

@media screen and (min-width: 768px){
    .menu-mobile,#icone-menu, #icone-close{
        display: none;
    }


    .menu{
        display: inline-flex;
    }


    .card-foto-banda .card-text h3{
        font-size: 30px;
    }
    .card-foto-banda .card-text h5{
        font-size: 20px;
    }
    .card-foto-banda{
        height: 25%;
    }
    .redes-sociais-card-banda, .redes-sociais-card-banda img{
        width: 45px;
    }


    header{
        padding: 1rem;
    }
    .icones-header{
        height: 65px;
    }
    #logo{
        height: 45px;
        margin: 0;
    }

    


    .carrossel-eventos {
        width: 100%;
        margin: 0 auto;
    }
    .eventos{
        width: 70%;
    }
    .evento img{
        /* width: 230px; */
        height: 210px;
        margin: 0;
    }

    .texto-evento{
        max-width: 45%;
        width: 40%;
        margin-right: 1rem;
    }




    .nossa-trajetoria .card-text1, .sobre-nos .card-text1{
        padding: 1rem;
        margin-top: 0;
        column-count: 2;
        column-gap: 1.5rem;
        column-rule: 1px solid #AB8119;
    }
}

@media screen and (min-width: 1200px) {
    .menu-mobile,#icone-menu, #icone-close{
        display: none;
    }


    #foto-banda{
        height: 40%;
        border-radius: 50%;
        display: block;
        height: 70%;
        margin: auto;
        margin-right: 0;
        box-sizing: border-box;
        animation: bounceInLeft;
        animation-duration: 2s;
    }
    .card-foto-banda{
        width: 60%;
        height: 450px;
        justify-content: center;
        border-radius: 10px;
        left: calc((100vw - 60% )/ 2);
        top: calc((100vh - 450px )/ 2);
    }
    .card-foto-banda .card-text{
        width: 40%;
        height: 60%;
        margin: auto;
    }
    .card-foto-banda .card-text h3{
        font-size: 40px;
    }
    .card-foto-banda .card-text h5{
        font-size: 24px;
    }
    .redes-sociais-card-banda img{
        width: 40px;
    }
    #icone-close-card-banda{
        width: 40px;
        height: 40px;
        right: 10px;
        top: 10px;
        border: 0 solid transparent;
        background-color: transparent;
    }
    #icone-close-card-banda:hover{
        transform: scale3d(1.3, 1.3, 1.3);
        cursor: pointer;
    }



    .menu li{
        width: calc((100% / 5) - 2rem);
        margin-left: 2rem;
        text-align: center;
    }
    .submenu li, .submenu a{
        margin: 0.5rem;
        width: 90%;
        box-sizing: border-box;
    }



    .verso-apresentacao{
        width: 70%;
        max-width: 80%; 
        font-size: clamp(1rem, 1rem, 1rem + 0.2vw);
        display: inline-block;
        margin: 1rem;
        text-align: center;
    }
    .card-apresetacao-texto h1{
        animation: fadeInLeft;
        animation-duration: 1.5s; 
    }
    .texto-abertura{
        /* animation: fadeInUpBig; */
        animation: slideInUp;
        animation-duration: 2s;
    }
    #inicio .downArrow{
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
    }


    
    
    .seta-esquerda, .seta-direita{
        opacity: 0.4;
        transition: all 400ms ease-in-out;
    }

    .seta-direita:hover, .seta-esquerda:hover{
        opacity: 1;
    }
    .carrossel-eventos{
        width: 80%;
    }
    .eventos{
        width: 70%;
    }
    .evento img{
        /* width: 300px; */
        height: 300px;
    }
    
    .texto-evento{
        max-width: 50%;
        width: 45%;
    }



    .sobre-nos .card-text1{
        column-count: 1;
    }
    .nossa-trajetoria .card-text1, .sobre-nos .card-text1{
        width: 70%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1440px) {
    
    .menu li a{
        font-size: 35px;
    }
    .menu li:hover .link-menu{
        font-size: 40px;
    }



    #logo{
        height: 70px;
        margin: 0;
    }



    .card-foto-banda{
        width: 850px;
        height: 450px;
    }

    
    .foto-principal img{
        width: 350px;
    }


    .evento img{
        height: 270px;
    }
}
