@font-face {
    font-family: 'xilosa';
    src: url(fontes/xilosa.ttf);
}

@font-face {
    font-family: 'crackvetica';
    src: url(fontes/Crackvetica.ttf);
}

body{
    font-size: 16px;
    text-decoration: none;
    color: black;
    /* background-color: #F4F4F4; */
    /* background-color: #fdf8d3; */
    background-color: #faf0a2;
    margin: 0;
}

.container-colummn{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container-row{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
}

h1{
    font-weight: 100%;
    font-family: 'xilosa';
    font-size: clamp(1rem, 2rem + 3vw, 4rem);
}

h2{
    font-family: 'xilosa';
    /* font-size: 50px; */
    font-size: clamp(1.5rem, 2.8rem, 6vw);

}



/* Header */

header{
    height: 100vh;
    width: 100vw;
    background-image: url("imagens/background1.png");
    text-align: center;
}

header .container-row{
    height: auto;
    max-width: 90%;
    /* width: 90%; */
    margin: auto;
    padding: 1rem;
}

#logo{
    height: auto;
    width: 10%;
}

#logo img{
    height: auto;
    max-width: 100%;
}

#contatos{
    height: auto;
    width: 90%;
    display: inline-flex;
    flex-direction: row;
    justify-content: right;
}

.botao{
    height: auto;
    max-width: 8%;
    padding: 0.5rem;
    text-align: center;
    flex-direction: row;
    justify-content: center;
}

.botao img{
    max-height: 3rem;
    max-width: 3rem;
    width: 100%;
    height: auto;
}

/* Herda características do container-collummn */
/* .text-header .container-colummn{
    padding: auto;
    margin: 0;
} */

/* Mudando características de dois elementos simultaneamente */
#nome-banda, #mensagem-inicial{
    margin: 0;
    padding: 0.5rem;
}
