@font-face {
    font-family: 'xilosa';
    src: url(fontes/xilosa.ttf);
}

@font-face {
    font-family: 'crackvetica';
    src: url(fontes/Crackvetica.ttf);
}

body{
    text-decoration: none;
    color: black;
    /* background-color: #F4F4F4; */
    /* background-color: #fdf8d3; */
    background-color: #faf0a2;
    margin: 0;
}

.container-colummn{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container-row{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0;
}

b{
    color: #D44000;
}

p{
    font-size: clamp(1vw, 1.5vw, 2vw);
    text-indent: 4vw;
}

a{
    text-decoration:underline;
    font-size: clamp(1vw, 2vw, 2.5vw);
    font-family: 'xilosa';
    text-align: center;
    color:#FF7A00
}

strong{
    color: red
}

h1{
    font-weight: 100%;
    font-family: 'xilosa';
    font-size: clamp(1rem, 2rem + 3vw, 4rem);
}

h2{
    font-family: 'xilosa';
    /* tamanho da fonte varia de acordo com o tamanho da tela, porém possui máximo e mínimo 
        para não ficar muito pequena ou muito grande. */
    font-size: clamp(1.5rem, 2.8rem, 6vw);
}

h3{
    font-family: 'xilosa';
    /* tamanho da fonte varia de acordo com o tamanho da tela, porém possui máximo e mínimo 
        para não ficar muito pequena ou muito grande. */
    font-size: clamp(1rem, 6vw, 2rem);
}

h5{
    font-family: 'xilosa';
    /* tamanho da fonte varia de acordo com o tamanho da tela, porém possui máximo e mínimo 
        para não ficar muito pequena ou muito grande. */
    font-size: clamp(0.8rem, 4vw, 1.5rem);
    opacity: 0.8;
    text-align: left;
    color: #864000;
    margin-bottom: 0;
}

h6{
    text-align: center;
    font-family: 'xilosa';
    /* tamanho da fonte varia de acordo com o tamanho da tela, porém possui máximo e mínimo 
        para não ficar muito pequena ou muito grande. */
    font-size: clamp(1rem, 6vw, 1.5rem);
    color: #864000;
}







/* Header */

header{
    height: 100vh;
    width: 100vw;
    background-image: url("imagens/background1.png");
    text-align: center;
}

header .container-row{
    height: auto;
    max-width: 90%;
    /* width: 90%; */
    margin: auto;
    padding: 1rem;
}

#logo{
    height: auto;
    width: 10%;
}

#logo img{
    height: auto;
    max-width: 100%;
}

#contatos{
    height: auto;
    width: 90%;
    display: inline-flex;
    flex-direction: row;
    justify-content: right;
}

.botao{
    height: auto;
    max-width: 8%;
    padding: 0.5rem;
    text-align: center;
    flex-direction: row;
    justify-content: center;
}

.botao img{
    max-height: 3rem;
    max-width: 3rem;
    width: 100%;
    height: auto;
}

/* Herda características do container-collummn */
/* .text-header .container-colummn{
    padding: auto;
    margin: 0;
} */

/* Mudando características de dois elementos simultaneamente */
#nome-banda, #mensagem-inicial{
    margin: 0;
    padding: 0.5rem;
}


/* Sobre nós */
.sobre-nos{
    height: auto;
    width: 80vw;
    text-align: center;
    padding: 1rem;
    margin: auto;
    justify-content: baseline;
}

.card-text{
    height: auto;
    text-align: justify;
    padding: 1vw;
    margin: 1vw auto 1vw auto;
    vertical-align: baseline;
}
.container-row .card-text1 {
    width: 90vw;
    height: auto;
    text-align: justify;
    padding: 1vw;
    margin: 1vw auto 1vw auto;
    vertical-align: baseline;
}

figure{
    height: auto;
    width: auto;
    font-size: clamp(0.5vw, 1rem, 2vw);
    /* font-size: 2vw;     */
    margin: 0;
}

figcaption{
    margin: 0;
    padding:0.5vw;
    text-align: center;
    font-size: clamp(0.5rem, 1.5rem, 2vw);

}

figure #mapa-ceara{
    height: 10vw;
    max-height: 50%;
    max-width: 40%;
    width: 10vw;
    margin: 2vw 1vw 1vw 1vw ;
    float: right;
    vertical-align: baseline;
}

.foto-integrante{
    margin: 2vw;
    align-items: center;
    justify-content: center;
}

figure img{
    height: 20vw;
    width: 20vw;
    max-height: 50vw;
    max-width: 50vw;
    margin: auto;
    padding: 1vw;
    display: flex;
    vertical-align: baseline;
}

